*.txt
*.sh
*.bat
*.cfg
CHANGELOG
bin/*
conf/*
docs/*
eclipse/*
jars/*
lib/*
reobf/*
runtime/*
logs/*
temp/*
forge/*
src - alt/*

Start.java
!src/minecraft/aits/*
src/minecraft/cpw/*
src/minecraft/ibxm/*
src/minecraft/net/*
src/minecraft/paulscode/*
src/minecraft/fml*
src/minecraft/forge*
src/minecraft/mcp*